torch
torchvision
torchaudio
opencv-python-headless>=4.8.0
diffusers==0.29.1
transformers>=4.38.0
tokenizers>=0.19.1
accelerate
tqdm
imageio
easydict
ftfy
imageio-ffmpeg
scikit-image
loguru
numpy>=1.23.5,<2
pyloudnorm
scenedetect
ffmpeg-python
huggingface_hub>=0.24.0
