torch
torchvision
torchaudio
opencv-python>=4.8.0
diffusers==0.25.0
transformers>=4.38.0
tokenizers>=0.19.1
accelerate
tqdm
imageio
easydict
ftfy
imageio-ffmpeg
scikit-image
loguru
numpy>=1.23.5,<2
pyloudnorm
scenedetect
moviepy==1.0.3
ffmpeg-python
huggingface_hub
